body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header{
    width:100%;
    background-color: black;
    color: white;
    padding: 10px;
    height: 40px;
}

#logo{
    float: left;
    font-family: cursive;
    font-size: 30px;
}
#buttonContainer{
    width:300px;
    margin:0 auto;
}

.toggleButton{
    float: left;
    border: 2px groove grey;
    padding: 6px;
    font-size: 90%;
    cursor: pointer;
}

.toggleButton:hover {
    background-color: lightgray;
    cursor: pointer;
    color: black;
}

#html{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

 #output{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.active{
    background-color: white;
    color: black;
    margin-top: 5px;
    margin-left: 5px;
}

.active:hover {
    cursor: pointer;
}

.highlightedButton:hover{
    background-color: lightgray;
    cursor: pointer;
}

textarea{
    resize: none;
    border-top: none;
    border-color: grey;
    font-size: 1rem;
}
.panel{
    float: left;
    width: 50%;
    border-left: none;
}
iframe{
   border: none;
}

.hidden{
    display: none;
}

.op {
    background-color: #e7e9eb;
    width: 100%;
}